<h2>Anlegen oder Bearbeiten von Publikationsarten</h2>
<form #form="ngForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label for="type">Art der Publikation*:</label>
        <input
            type="text"
            id="type"
            name="type"
            class="form-control"
            [(ngModel)]="publicationType.type"
            required
            [ngClass]="{
                'is-invalid': !service.isPublicationTypeUnique(
                    publicationType.type
                )
            }"
            pattern="[a-zA-Z1-9][a-zA-Z1-9 ]*"
        />
    </div>

    <button
        type="submit"
        class="btn btn-primary"
        [disabled]="
            form.invalid ||
            !service.isPublicationTypeUnique(publicationType.type)
        "
    >
        Save
    </button>
    <button type="button" class="btn btn-secondary" (click)="onCancel()">
        Cancel
    </button>
</form>
